body{
    background-color: #5c5a5a;
    color: #fff; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;   
    text-align: center; 
}
#contain{
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    height:  26.5%;
    border: none;
    position: relative;
    text-align: center;
    background-color: #5c5a5a;
    
}
#screen{
    text-align: center;
    position: relative;
    width: 98%;
    height: 22%;
    border: none;
    background: #fff
}

 #tab{
     text-align: center;
     width: 100%;
     margin-left: -1%;
 }   

.but{
    color: #fff;
    position: relative;
    width: 109%;
    height: 550%;
    text-align: center;
    margin-top: -19%;
    cursor: pointer;    
    border: none;
    background-color: #5c5a5a;

}

@media only screen and (max-width: 563px){
    #contain {
        width: 200px;
    }

}


